.ot-title {
      font-family: pacifico, sans-serif !important;
}

.ot-dtp-picker.wide .ot-dtp-picker-form {
    height: 50px !important;
}

.ot-dtp-picker .ot-dtp-picker-form {
    margin: 0 !important;
    border: 2px solid #231f20 !important;
    border-radius: 10px !important;
  }

  .ot-dtp-picker.wide .ot-dtp-picker-form .ot-dtp-picker-selector + .ot-dtp-picker-selector {
    border-left: 2px solid #231f20 !important;
}

.ot-dtp-picker.wide .ot-dtp-picker-form .ot-dtp-picker-button {
    border-radius: 10px !important;
    width: 200px !important;
    float: right !important;
}

.ot-dtp-picker .ot-dtp-picker-button {
    border-radius: 0 0 2px 2px !important;
    height: 48px !important;
    margin: 0 !important;
    /* -webkit-box-shadow: 0 0 0 1px #da3743; */
    /* box-shadow: 0 0 0 1px #da3743; */
    -webkit-appearance: none !important;
}

.ot-dtp-picker .ot-dtp-picker-button {
    border-radius: 0 0 2px 2px !important;
    height: 48px !important;
    margin: 0 1!important;
    /* -webkit-box-shadow: 0 0 0 1px #da3743; */
    /* box-shadow: 0 0 0 1px #da3743; */
    -webkit-appearance: none !important;
}


.ot-button {
    background-color: #231f20 !important;
    border-radius: 10px !important;
    /* border: 1px solid #da3743; */
    border-radius: 4px !important;
    color: white !important;
    cursor: pointer !important;
    display: block !important;
    font-weight: bold !important;
    padding: 14px 0 15px !important;
    text-align: center !important;
    text-decoration: none !important;
    width: 100% !important;
}
