.ot-title {
      font-family: Guest Check, sans-serif !important;
      text-transform: lowercase !important;
}

.ot-dtp-picker.wide .ot-dtp-picker-form {
    height: 50px !important;
    width: 38em !important;
}

.ot-dtp-picker .ot-dtp-picker-selector select {
    position: absolute;
    opacity: 0;
    top: 0;
    height: 100%;
    width: 0 !important;
    cursor: pointer;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    color: #2d333f;
    font-size: 16px;
    background-color: white;
    z-index: 2;
  }

.ot-dtp-picker .ot-dtp-picker-form {
    margin: 0 !important;
    margin-bottom: 1em !important;
    border: 2px solid #231f20 !important;
    border-radius: 10px !important;
  }

  .ot-dtp-picker.wide .ot-dtp-picker-form .ot-dtp-picker-selector + .ot-dtp-picker-selector {
    border-left: 2px solid #231f20 !important;
}

.ot-dtp-picker.wide .ot-dtp-picker-form .ot-dtp-picker-button {
    border-radius: 10px !important;
    width: 200px !important;
    float: right !important;
}

.ot-dtp-picker .ot-dtp-picker-button {
    border-radius: 0 0 2px 2px !important;
    height: 48px !important;
    margin: 0 !important;
    -webkit-box-shadow: 0 0 0 0px !important;
    box-shadow: 0 0 0 0px !important;
    -webkit-appearance: none !important;
}

.ot-dtp-picker .ot-dtp-picker-button {
    border-radius: 0 0 2px 2px !important;
    height: 48px !important;
    margin: 0 1!important;
    -webkit-box-shadow: 0 0 0 0px !important;
    box-shadow: 0 0 0 0px !important;
    -webkit-appearance: none !important;
}


.ot-button {
    background-color: #231f20 !important;
    border-radius: 10px !important;
    border: 0px solid #da3743 !important;
    border-radius: 4px !important;
    color: white !important;
    cursor: pointer !important;
    display: block !important;
    font-weight: bold !important;
    padding: 14px 0 15px !important;
    text-align: center !important;
    text-decoration: none !important;
    width: 100% !important;
}

.ot-dtp-picker {
    background: none !important;
    position: relative;
    width: 192px;
    padding: 16px;
    border-radius: 2px;
}
