@tailwind base;

@import url("https://use.typekit.net/uhy5uqy.css");

@font-face {
    font-family: 'Fox Cat';
    src: url('../fonts/fox_cat-webfont.woff2') format('woff2'),
         url('../fonts/fox_cat-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Guest Check';
    src: url('../fonts/guest_check-webfont.woff2') format('woff2'),
         url('../fonts/guest_check-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@media only screen and ( max-height: 634px ){
    #mobile-landscape {
      display: none;
    }

    #main-section-content {
      justify-content: flex-start;
    }
}

@media only screen and ( max-width: 320px) {
  #logo {
    height: 10rem;
  }
}

@tailwind components;

@tailwind utilities;
