<div class="flex flex-col justify-center mb-4">
<div class="flex flex-col justify-center md:hidden">
  <h3 class="text-2xl font-GuestCheck text-fc-black">make a reservation</h3>
  <script type='text/javascript' src='//www.opentable.com/widget/reservation/loader?rid=1042552 &domain=com&type=standard&theme=standard&iframe=false&overlay=false&domain=com&lang=en-US'></script>
</div>
<div class="flex flex-col justify-center hidden md:inline-block">
  <h3 class="text-2xl font-GuestCheck text-fc-black">make a reservation</h3>
  <script type='text/javascript' src='//www.opentable.com/widget/reservation/loader?rid=1042552 &domain=com&type=standard&theme=wide&iframe=false&overlay=false&domain=com&lang=en-US'></script>
</div>

