<div class="flex flex-col justify-center lg:hidden mb-4 ">
  <h3 class="font-GuestCheck text-fc-black text-2xl">make a reservation</h3>
  <script type='text/javascript' src='//www.opentable.com/widget/reservation/loader?rid=1042552 &domain=com&type=standard&theme=standard&iframe=false&overlay=false&domain=com&lang=en-US'></script>
</div>
<div class="flex flex-col justify-center hidden lg:inline-block mb-4 mt-4">
  <h3 class="font-GuestCheck text-fc-black text-2xl">make a reservation</h3>
  <script type='text/javascript' src='//www.opentable.com/widget/reservation/loader?rid=1042552 &domain=com&type=standard&theme=wide&iframe=false&overlay=false&domain=com&lang=en-US'></script>
</div>
