{% extends "_layouts/baseLayout" %}
{% block body %}
<header id="header">
  {% include "_organisms/header" %}
  {% block header %}{% endblock %}
</header>

<nav id="navigation">
  {% include "_organisms/navigation" %}
  {% block navigation %}{% endblock %}
</nav>

<main id="content" class="flex flex-col">
  <section id="main" class="">
    {% include "_organisms/main" %}
    {% block main %}{% endblock %}
  </section>

  <section id="hoursAndReservations" class="">
    {% include "_organisms/hours" %}
    {% block hours %}{% endblock %}
  </section>

  <section id="aboutUs" class="">
    {% include "_organisms/about" %}
    {% block about %}{% endblock %}
  </section>

  <section id="Menus" class="">
    {% include "_organisms/menus" %}
    {% block menus %}{% endblock %}
  </section>

  <section id="Events" class="">
    {% include "_organisms/events" %}
    {% block events %}{% endblock %}
  </section>
</main>

<footer id="footer">
  {% include "_organisms/footer" %}
  {% block footer %}{% endblock %}
</footer>
{% endblock %}
