{% do view.registerCssFile(siteUrl ~ "assets/css/main.css") %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Forestry Camp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script src="https://kit.fontawesome.com/5bdd2455c6.js"></script>
</head>
<body class="bg-repeat bg-auto bg-center p-6" style="background-image: url(uploads/images/repeatingWeb_BG_SMALL.jpg);">
  {% block body %}
  {% endblock %}
</body>
</html>
