{% do view.registerCssFile(siteUrl ~ "assets/css/main.css") %}
{% do view.registerCssFile(siteUrl ~ "assets/css/opentable.css") %}
<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <title>Forestry Camp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes, viewport-fit=cover" />
  <meta name="referrer" content="origin-when-cross-origin" />
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon-set/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon-set/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon-set/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon-set/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon-set/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon-set/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon-set/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon-set/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon-set/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/favicon-set/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-set/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-set/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-set/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon-set/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
  <script src="https://kit.fontawesome.com/5bdd2455c6.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.typekit.net/uhy5uqy.css">
  <script src="{{ siteUrl }}assets/js/lazysizes.min.js" async=""></script>
  <script>
    $(document).scroll(function() {
      var y = $(this).scrollTop();
      if (y > 500) {
        $('.footer').fadeIn();
      } else {
        $('.footer').fadeOut();
      }
    });
  </script>
  <script>
    function mapsSelector() {
      if /* if we're on iOS, open in Apple Maps */ ((navigator.platform.indexOf("iPhone") != -1) ||
        (navigator.platform.indexOf("iPod") != -1) ||
        (navigator.platform.indexOf("iPad") != -1))
        window.open("maps://maps.google.com/maps?daddr=35.562860,-82.536960&amp;ll=");

      else /* else use Google */
        window.open("https://maps.google.com/maps?daddr=35.562860,-82.536960&amp;ll=");
    }
  </script>
  <style>
.accordion {
  transition: 0.4s;
}

.accordion:before {
  content: '\002B'"\00a0";

}

.active:before {
  content: "\2212""\00a0";
}

.panel {
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
</style>
</head>

<body class="bg-repeat bg-auto bg-top overflow-x-hidden" style="background-image: url({{ siteUrl }}uploads/images/repeatingWeb_BG_SMALL.jpg);">
  {% block body %}{% endblock %}
  <script>
    ScrollReveal().reveal('.reveal');
  </script>
  <script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>
</body>

</html>
