{% extends "_patterns/p-base" %}
{% block body %}
<header>
</header>

<main id="content" class="flex flex-col text-white px-3 md:px-12 lg:px-20 xl:px-32 pt-8 min-h-screen" style="background-color: rgba(0, 0, 0, 0.85);">
  <nav id="navigation" class="flex flex-row flex-wrap justify-center font-base font-normal font-FellRomanSc">
    <a href="#tickets" class="hover:text-fc-rust mx-4 my-2">TICKETS</a>
    <a href="#off-topic-schedule" class="hover:text-fc-rust mx-4 my-2">OFF TOPIC SCHEDULE</a>
    <a href="#stage-schedule" class="hover:text-fc-rust m-4 my-2">STAGE SCHEDULE</a>
    <a href="#food" class="hover:text-fc-rust mx-4 my-2">FOOD</a>
    <a href="#beer-release-info" class="hover:text-fc-rust mx-4 my-2">BEER RELEASE INFO</a>
    <a href="#volunteer-info" class="hover:text-fc-rust mx-4 my-2">VOLUNTEER</a>
    <a href="#faq" class="hover:text-fc-rust mx-4 my-2">FAQ</a>
  </nav>
  <section id="intro" class="flex flex-col md:flex-row">
    {% set image = entry.introImage.one().optimizedImages %}
    {% set altText = entry.introImage.one().title %}
    <div id="intro-image" class="self-center md:self-start w-2/3 md:w-1/2 lg:w-1/3">
      <img src="{{ image.placeholderBox() }}" data-srcset="{{ image.srcset() }}" sizes="100vw" alt="{{ altText }}" class="lazyload w-full" />
    </div>
    <div id="intro-info" class="w-full md:w-1/2 lg:w-2/3 font-FellRomanSc text-center md:text-right self-center">
      {{ entry.introInfo }}
    </div>
  </section>

  <section id="ticket-levels" class="flex flex-col justify-center md:flex-wrap md:flex-row">
    <a id="tickets"></a>
    {% for block in entry.ticketLevels.all() %}
    {% switch block.cardType %}
    {% case "small" %}
    <a href="https://burialburnpile.brownpapertickets.com" class="hover:text-fc-rust hover:cursor-pointer">
    <div id="ticket-card" class="flex flex-col w-full flex-grow md:w-1/3 p-8">
      <div id="ticket-content" class="flex flex-grow flex-col w-full border-fc-dkgray border p-6">
        <div id="ticket-callout" class="w-full text-center text-6xl font-bold text-fc-mdgray font-FellRomanSc">
          {{ block.ticketCallout }}
        </div>
        <div id="ticket-header" class="w-full text-center text-3xl font-bold text-fc-mdgray font-FellRomanSc mb-4">
          {{ block.ticketHeader }}
        </div>
        <div id="ticket-description" class="w-full font-base font-normal font-FellRoman">
          {{ block.ticketDescription }}
        </div>
      </div>
    </div>
    </a>
    {% case "full" %}
    <a href="https://burialburnpile.brownpapertickets.com" class="hover:text-fc-rust hover:cursor-pointer">
    <div id="ticket-card" class="flex flex-col w-full p-8">
      <div id="ticket-content" class="flex flex-col md:flex-row w-full border-fc-dkgray border p-6">
        <div id="ticket-callout" class="text-center text-6xl font-bold text-fc-mdgray font-FellRomanSc self-center pr-3">
          {{ block.ticketCallout }}
        </div>
        <div id="ticket-info" class="flex flex-col">
          <div id="ticket-header" class="w-full text-center md:text-left text-3xl font-bold text-fc-mdgray font-FellRomanSc">
            {{ block.ticketHeader }}
          </div>
          <div id="ticket-description" class="w-full font-base font-normal font-FellRoman">
            {{ block.ticketDescription }}
          </div>
        </div>
      </div>
    </div>
    </a>
    {% endswitch %}
    {% endfor %}
  </section>

  <section id="schedules" class="flex flex-col">
    <a id="off-topic-schedule">
    <h3 id="heading" class="font-FellRomanSc font-bold text-3xl text-fc-rust pb-4 px-2 md:px-0">
      OFF TOPIC SCHEDULE
    </h3>
    </a>
    {% for block in entry.offTopicSchedule.all() %}
    <div id="off-topic-schedule-entry" class="flex flex-col w-full p-8">
      <div id="off-topic-schedule-entry-content" class="flex flex-col md:flex-row border-t border-fc-dkgray p-6">
        <div id="entry-time" class="text-left md:text-center text-3xl font-bold text-fc-mdgray font-FellRomanSc self-start md:self-center pr-3">
          {{ block.entryTime }}
        </div>
        <div id="ticket-info" class="flex flex-col">
          <div id="entry-title" class="w-full text-left text-xl font-bold text-fc-mdgray font-FellRomanSc">
            {{ block.entryTitle }}
          </div>
          <div id="entry-description" class="w-full font-base font-normal font-FellRoman">
            {{ block.entryDescription }}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <a id="stage-schedule">
    <h3 id="heading" class="font-FellRomanSc font-bold text-3xl text-fc-rust pb-4 px-2 md:px-0">
      STAGE SCHEDULE
    </h3>
    </a>
    {% for block in entry.stageSchedule.all() %}
    <div id="off-topic-schedule-entry" class="flex flex-col w-full px-8 pt-8">
      <div id="off-topic-schedule-entry-content" class="flex flex-col md:flex-row border-t border-fc-dkgray p-6">
        <div id="entry-time" class="text-left md:text-center text-3xl font-bold text-fc-mdgray font-FellRomanSc self-start pr-3 leading-none">
          {{ block.entryTime }}
        </div>
        <div id="ticket-info" class="flex flex-col">
          <div id="entry-title" class="w-full text-left text-xl font-bold text-fc-mdgray font-FellRomanSc self-center align-text-bottom">
            {{ block.entryTitle }}
          </div>
          <div id="entry-description" class="w-full font-base font-normal font-FellRoman">
            {{ block.entryDescription }}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>

  <section id="food-info" class="flex flex-col h-full font-FellRomanSc mt-8">
    <a id="food">
    <h3 id="heading" class="font-FellRomanSc font-bold text-3xl text-fc-rust px-2 md:px-0">
      FOOD
    </h3>
    </a>
    <div class="font-FellRoman font-bold text-base text-fc-mdgray mx-4 md:mx-2">
      {{ entry.foodInfo }}
    </div>
  </section>

  <section id="beer-releases" class="flex flex-col h-full font-FellRomanSc mt-8">
    <a id="beer-release-info">
    <h3 id="heading" class="font-FellRomanSc font-bold text-3xl text-fc-rust px-2 md:px-0">BEER RELEASES & PICK UP INFORMATION
    </h3>
    </a>
    <div class="font-FellRoman font-bold text-base text-fc-mdgray px-4 md:px-2">
      {{ entry.beerReleaseInfo }}
    </div>
  </section>

  <section id="volunteer-info" class="flex flex-col h-full font-FellRomanSc mt-8">
    <a id="volunteer-info">
    <h3 id="heading" class="font-FellRomanSc font-bold text-3xl text-fc-rust px-2 md:px-0">VOLUNTEER OPPORTUNITIES
    </h3>
    </a>
    <div class="font-FellRoman font-bold text-base text-fc-mdgray px-4 md:px-2">
      {{ entry.volunteerOpportunitiesInfo }}
    </div>
  </section>

  <section id="other-questions" class="flex flex-col h-full font-FellRomanSc mt-8">
    <h3 id="heading" class="font-FellRomanSc font-bold text-3xl text-fc-rust px-2 md:px-0">
      <a id="faq">OTHER QUESTIONS</a>
    </h3>
    {% for block in entry.faqContent.all() %}
    {% include ('_atoms/_components/burnpile/_block_' ~ block.type.handle) %}
    {% endfor %}
  </section>
</main>

<footer class="h-24" style="background-color: rgba(0, 0, 0, 0.85);">
</footer>
{% endblock %}
