{% extends "_patterns/p-base" %}
{% block body %}
<header id="header">
  {% include "_organisms/o-header" %}
  {% block header %}{% endblock %}
</header>

<nav id="navigation">
  {% include "_organisms/o-navigation" %}
  {% block navigation %}{% endblock %}
</nav>

<main id="content" class="flex flex-col">
  <section id="main" class="">
    {% include "_organisms/o-main" %}
    {% block main %}{% endblock %}
  </section>

  <section id="hoursAndReservations" class="">
    {% include "_organisms/o-hours" %}
    {% block hours %}{% endblock %}
  </section>

  <section id="aboutUs" class="">
    {% include "_organisms/o-about" %}
    {% block about %}{% endblock %}
  </section>

  <section id="Menus" class="">
    {% include "_organisms/o-menus" %}
    {% block menus %}{% endblock %}
  </section>

  <section id="Events" class="">
    {% include "_organisms/o-events" %}
    {% block events %}{% endblock %}
  </section>
</main>

<footer id="footer">
  {% include "_organisms/o-footer" %}
  {% block footer %}{% endblock %}
</footer>
{% endblock %}
