{% extends "_patterns/p-base" %}
{% block body %}
<header id="header">
  {% include "_organisms/o-header" %}
  {% block header %}{% endblock %}
</header>

<nav id="navigation">
  {% include "_organisms/o-navigation" %}
  {% block navigation %}{% endblock %}
</nav>

<main id="content" class="flex flex-col">
  <section id="main" class="flex flex-col h-screen w-full">
    {% include "_organisms/o-main" %}
    {% block main %}{% endblock %}
  </section>

  <section id="hoursAndReservations" class="flex flex-col px-6 md:px-12 lg:px-24 xl:px-40 pb-24 border-b-2 border-fc-black" style="background-color: rgba(85, 90, 110, 0.15);">
    {% include "_organisms/o-hours" %}
    {% block hours %}{% endblock %}
  </section>

  <section id="aboutUs" class="flex flex-col px-6 md:px-12 lg:px-24 xl:px-40 pb-24 border-b-2 border-fc-black">
    {% include "_organisms/o-about" %}
    {% block about %}{% endblock %}
  </section>

  <section id="menus" class="flex flex-col px-6 md:px-12 lg:px-24 xl:px-40 pb-24 border-b-2 border-fc-black" style="background-color: rgba(85, 90, 110, 0.15);">
    {% include "_organisms/o-menus" %}
    {% block menus %}{% endblock %}
  </section>

  <section id="happenings" class="flex flex-col px-6 md:px-12 lg:px-24 xl:px-40 h-64 h-full">
    {% include "_organisms/o-events" %}
    {% block events %}{% endblock %}
  </section>
</main>

<footer id="footer" class="footer hidden lg:invisible w-screen h-24 pb-4 flex flex-row sticky bottom-0 border-t-2 border-white" style="background-color: rgba(35, 31, 32, 0.90);">
  {% include "_organisms/o-footer" %}
  {% block footer %}{% endblock %}
</footer>
{% endblock %}
