{% extends "_patterns/p-base" %}
{% block body %}
	<main id="content" class="flex flex-col" style="background-color: rgba(0, 0, 0, 0.85);">
		<section id="main" class="flex flex-col px-6 pb-24 text-white border-b md:px-12 lg:px-24 xl:px-56 border-fc-dkgray">
			{% include "_organisms/o-paperless-menu-burnpile" %}
			{% block menus %}{% endblock %}
		</section>
	</main>
	<button onclick="topFunction()" id="myBtn" title="Return to top">return to top <i class="fas fa-chevron-circle-up"></i></button>
{% endblock %}
