{% block album %}

{% if image %}
{% switch block.albumType %}
{% case "strip" %}
<div id="filmStrip" class="reveal flex flex-col md:flex-row md:flex-wrap w-full justify-center">
  {% for image in block.image.all() %}
      {% set altText = image.title %}
    {% set image = image.optimizedImages %}
  <img class="lazyload w-full h-auto md:w-auto md:h-40 xl:h-56 rounded-lg border-2 border-fc-black my-2 md:mx-2" src="{{ image.placeholderBox() }}" data-srcset="{{ image.srcset() }}" sizes="100vw" alt="{{ altText }}"/>
  {% endfor %}
</div>
{% endswitch %}
{% endif %}
{% endblock %}
