{% block album %}

{% if image %}
{% switch block.albumType %}
{% case "grid" %}
<div id="grid" class="reveal w-full md:w-1/2 xl:w-1/4 h-full inline float-left my-3 md:mx-3">
  {% for image in block.image.all() %}
  {% set image = image.optimizedImages %}
  <img class="lazyload w-full h-full rounded-lg border-2 border-fc-black" src="{{ image.placeholderBox() }}" data-srcset="{{ image.srcset() }}" sizes="100vw" />
  {% endfor %}
</div>
{% case "filmStrip" %}
<div id="filmStrip" class="reveal flex flex-col md:flex-row w-full h-64 justify-center">
  {% for image in block.image.all() %}
    {% set image = image.optimizedImages %}
  <img class="lazyload w-auto md:max-w-sm h-full rounded-lg border-2 border-fc-black my-2 md:mx-2" src="{{ image.placeholderBox() }}" data-srcset="{{ image.srcset() }}" sizes="100vw" />
  {% endfor %}
</div>
{% endswitch %}
{% endif %}
{% endblock %}
