{% block spaces %}
	{% set header = entry.cateringHeader %}
	{% set image = entry.cateringHeaderImage.one().optimizedImages %}
	{% set altText = entry.cateringHeaderImage.one().title %}
	{% set intro = entry.cateringIntro %}
	<button onclick="location.href = '{{ siteUrl }}';" title="Return Home" class="w-32 pt-4 font-bold text-center font-GuestCheck text-fc-green hover:text-fc-black">
		<i class="fas fa-chevron-circle-left"></i>
		return home</button>
	<a id="catering">{% include "_molecules/m-text-header" %}</a>
	<div
		id="catering-content" class="flex flex-col justify-center px-2 mt-4 text-center md:px-8 lg:px-16">
		{# <div id="catering-navigation" class="flex flex-row flex-wrap self-center justify-center w-3/4 mb-10 text-lg lowercase font-GuestCheck">
										<a href="/private-events" class="w-full px-3 py-1 font-bold text-fc-dark_green md:w-auto">
												<h3>Private Events</h3>
											</a>
											{% for row in entry.spaceSections.all() %}
												{% set sectionHeader = row.sectionHeader %}
												{% set anchorLink = sectionHeader|replace(' ', '-')|lower %}
												<a href="#{{ anchorLink }}" class="w-full px-3 py-1 hover:text-fc-dark_green md:w-auto">
													<h3>{{ sectionHeader }}</h3>
												</a>
											{% endfor %}
										</div> #}
		<div id="catering-sections" class="flex flex-col w-full">
			{% if entry.introCallToActionTitle|length %}
				<div class="self-center w-full text-center">
					<a href="{{ entry.introCallToActionLink }}" class="w-32 pt-4 font-bold text-center font-GuestCheck text-fc-green hover:text-fc-black">{{ entry.introCallToActionTitle }}</a>
				</div>
			{% endif %}
			<div class="self-center w-full text-base font-normal text-center font-GillSansNova text-fc-black">
				{{ intro }}
			</div>
			{% for block in entry.cateringPackages.all() %}
				{% switch block.type %}
					{% case "cateringPackage" %}
						{% set sectionHeader = block.packageName %}
						{% set sectionDescription = block.packageDescription %}
						{% set anchorLink = sectionHeader|replace(' ', '-')|lower %}
						<div id="private-events-section" class="flex flex-col">
							<div id="{{ anchorLink }}" class="flex flex-row justify-end w-full pb-1 mt-16 mb-4 text-xl uppercase border-b border-fc-black font-GuestCheck text-fc-black">
								<h3>{{ sectionHeader }}</h3>
							</div>
							<div class="self-center w-full text-base font-normal text-center lg:w-3/4 xl:w-full font-GillSansNova text-fc-black">
								{{ sectionDescription }}
							</div>
							<div id="gallery-images" class="flex flex-row flex-wrap justify-center w-full">
								{% for block in block.packageImages.all() %}
									{% if block.image.one()|length %}
										{% set imageThumb = block.image.one().optimizedImages %}
										{% set image = block.image.one() %}
										<div id="gallery-image" class="p-2">
											<a href="#" data-featherlight="{{ image.getUrl }}">
												<img src="{{ imageThumb.src() }}" data-srcset="{{ imageThumb.srcset() }}" alt="{{ caption }}" class="object-contain object-center h-48">
											</a>
											{% if caption|length %}
												<p class="text-sm font-bold font-GillSansNova text-fc-black">{{ caption }}</p>
											{% endif %}
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					{% case "callToAction" %}
						<div class="self-center w-full text-center">

							<a href="{{ block.callToActionLink }}" class="w-32 pt-4 font-bold text-center font-GuestCheck text-fc-green hover:text-fc-black">{{ block.callToActionTitle }}</a>
						</div>
				{% endswitch %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
