{% block events %}
{% set image = entry.eventsHeaderImage.one() %}
{% set header = entry.eventsHeaderText %}
    <a id="happenings">{% include "_molecules/m-text-header" %}</a>
    <div class="reveal flex flex-row-reverse border-b border-fc-black w-full md:w-2/3 self-center mt-8">
      {% set header = 'events' %}
      {% include "_atoms/a-text-h3" %}
    </div>
<div id="event-feed" class="flex flex-col w-full lg:w-1/2">
    {% for fbEntry in craft.facebook.getEntries.where('internal = 0').andWhere('type = "event"').limit(3).all %}
        <div id="post" class="flex flex-row">
          <div id="post-image" class="w-1/3">
              {% if fbEntry.image_src %}
                  <img class="" src="{{ fbEntry.image_src }}" alt="">
              {% endif %}
          </div>
                <div id="post-content" class="flex flex-col w-2/3">
                    <h2 id="post-title">
                        {{ fbEntry.name }}: {{ fbEntry.start_time|datetime('medium') }} - {{ fbEntry.end_time|datetime('medium') }}
                    </h2>
                    <p class="">{{ craft.facebook.decode(fbEntry.description) }}</p>
                        {% if fbEntry.target %}
                            <a href="{{ fbEntry.target }}" target="_blank"> Read More</a>
                        {% else %}
                            No Link
                        {% endif %}
                </div>
            </div>
    {% endfor %}
</div>
{% endblock %}
