{% block events %}
{% set image = entry.eventsHeaderImage.one() %}
{% set header = entry.eventsHeaderText %}
    <a id="happenings">{% include "_molecules/m-text-header" %}</a>
<h3 class="reveal font-GuestCheck text-fc-black text-3xl">check back for upcoming events</h3>
<div class="col-lg-8 col-md-10 mx-auto">
    {% for fbEntry in craft.facebook.getEntries.where('internal = 0').andWhere('type = "event"').limit(3).all %}
        <div style="position: relative;">
                <div class="post-preview" style="float: left;width: 70%;">
                    <h2 class="post-title">
                        {{ fbEntry.title }}: {{ fbEntry.start_time|date('medium', 'short') }} - {{ fbEntry.end_time|date('medium', 'short') }}
                    </h2>
                    <p style="padding-bottom: 20px">{{ craft.facebook.decode(fbEntry.content) }}</p>
                    <p class="post-meta" style="bottom: 0;position: absolute; ">
                        {% if fbEntry.target %}
                            <a href="{{ fbEntry.target }}" target="_blank"> test link</a>
                        {% else %}
                            No Link
                        {% endif %}
                    </p>
                </div>
                <div style="float: left;width: 30%">
                    {% if fbEntry.image_src %}
                        <img class="img-fluid" src="{{ fbEntry.image_src }}" alt="">
                    {% endif %}
                </div>
            </div>
    {% endfor %}
</div>
{% endblock %}
