<div id="footer" class="flex flex-row w-full h-full justify-center md:px-12 opacity-100">
  <div id="footer" class="flex flex-col w-16 px-2 self-end text-center opacity-100"  style="filter: invert(100%);">
    <a href="/#home">
      <img src="uploads/images/logoNav.png" id="footer" class="reveal w-full h-full object-scale-down pb-2 opacity-100" alt="" />
    <h5 id="footer" class="reveal font-GuestCheck text-fc-black text-xs opacity-100">
      home
    </h5>
    </a>
  </div>
  {% for block in entry.navigationLinks.all() %}
  {% set image = block.navigationImage.one() %}
  {% set header = block.navigationText %}
  {% set anchor = block.navigationAnchor %}
  <div id="footer" class="flex flex-col w-16 px-2 self-end text-center opacity-100"  style="filter: invert(100%);">
    <a href="/#{{ anchor }}">
      <img src="{{ image.getUrl }}" id="footer" class="reveal w-full h-full object-scale-down pb-2 opacity-100" alt="" />
    <h5 id="footer" class="reveal font-GuestCheck text-fc-black text-xs opacity-100">
      {{ anchor }}
    </h5>
    </a>
  </div>
  {% endfor %}
</div>
