<div class="flex flex-row justify-center">
  <div class="flex flex-col w-16 pb-4 px-2 self-end text-center"  style="filter: invert(100%);">
    <a href="/#home">
      <img src="uploads/images/logoNav.png" class="reveal w-full h-full object-scale-down pb-2" alt="" />
    <h5 class="reveal font-GuestCheck text-fc-black text-xs">
      home
    </h5>
    </a>
  </div>
  {% for block in entry.navigationLinks.all() %}
  {% set image = block.navigationImage.one() %}
  {% set header = block.navigationText %}
  {% set anchor = block.navigationAnchor %}
  <div class="flex flex-col w-16 pb-4 px-2 self-end text-center"  style="filter: invert(100%);">
    <a href="/#{{ anchor }}">
      <img src="{{ image.getUrl }}" class="reveal w-full h-full object-scale-down pb-2" alt="" />
    <h5 class="reveal font-GuestCheck text-fc-black text-xs">
      {{ anchor }}
    </h5>
    </a>
  </div>
  {% endfor %}
</div>
