{% block hours %} {% set image = entry.hoursHeaderImage.one().optimizedImages %}
{% set altText = entry.hoursHeaderImage.one().title %} {% set header =
entry.hoursHeaderText %} {% set text = entry.hoursTextContent %}
<a id="hours">{% include "_molecules/m-text-header" %}</a>
<div
    id="hours-content"
    class="flex flex-col justify-center px-2 mt-4 text-center md:px-8 lg:px-16"
>
    {% include "_atoms/a-text-body" %}
    <div
        id="hours-and-map-content"
        class="flex flex-col items-center justify-center my-20 lg:flex-row-reverse"
    >
        <div id="hours-content" class="p-4 reveal lg:text-left lg:w-auto">
            <h3
                id="hours-header"
                class="text-2xl font-GuestCheck text-fc-black"
            >
                hours
            </h3>
            <div id="hours-list" class="flex flex-col">
                {% for day in entry.restaurantHours %}
                <div>
                    <span
                        class="text-base font-bold font-GillSansNova text-fc-black"
                        >{{ day.name }}</span
                    >
                    <span class="text-base font-GillSansNova text-fc-black">
                        {% if day.isBlank %} Closed {% else %} {{
                        day.open|time('short') }} - {{ day.close|time('short')
                        }} {% endif %}
                    </span>
                </div>
                {% endfor %}
            </div>
        </div>
        {% include "_atoms/a-googlemaps-plugin" %}
    </div>
</div>
{% endblock %}
