{% block main %}
{% set landscape = entry.landscapeImage.one().optimizedImages %}
<div class="flex flex-col lg:flex-row justify-between md:justify-start items-end md:items-center content-center h-full border-b-2 border-fc-black"><a id="home"></a>
  <div class="flex flex-col w-full h-auto lg:w-1/2 px-6 mt-6 justify-center lg:max-h-full lg:py-6 flex-shrink-0">
    {% include "_atoms/a-logo" %}
    <div class="flex flex-row flex-wrap justify-between lg:h-full lg:px-2 lg:max-w-xs xl:max-w-md self-center">
      {% for block in entry.navigationLinks.all() %}
      {% set image = block.navigationImage.one().optimizedImages %}
      {% set altText = block.navigationImage.one().text %}
      {% set header = block.navigationText %}
      {% set anchor = block.navigationAnchor %}
      {% include "_molecules/m-nav-icon" %}
      {% endfor %}
    </div>
  </div>
  <div class="hidden lg:block lg:flex lg:flex-col-reverse lg:h-full lg:w-1/2 lg:border-l-2 border-fc-black">
    <img class="reveal lazyload w-full h-auto lg:self-end overflow-hidden" src="{{ landscape.src() }}" data-srcset="{{ landscape.srcset() }}" sizes="100vw" alt="Illustration by David P. Seymour of Burial Brewing Company's Forestry Camp bar and restaurant, located in Asheville North Carolina"/>
    <div class="flex flex-col w-2/3 mb-64 justify-center self-end">
      <a href="/#hours" class="font-GuestCheck text-3xl text-fc-black text-center hover:text-fc-green">
        reservations
      </a>
      <hr class="border-t-2 border-fc-black w-full">
      <a href="tel:1-828-123-4567" class="font-GuestCheck text-3xl text-fc-black text-center hover:text-fc-green">
        828.123.4567
      </a>
    </div>
  </div>
  <img src="{{ landscape.src() }}" data-srcset="{{ landscape.srcset() }}" sizes="100vw" class="lazyload reveal w-full h-auto flex-shrink object-cover object-top lg:self-end overflow-hidden lg:hidden mt-3" alt="Illustration by David P. Seymour of Burial Brewing Company's Forestry Camp bar and restaurant, located in Asheville North Carolina"/>
</div>
{% endblock %}
