{% block main %}
<div class="flex flex-col lg:flex-row justify-between md:justify-start items-end md:items-center content-center h-screen border-b-2 border-fc-black"><a id="home"></a>
  <div class="flex flex-col w-full lg:w-1/2 px-6 pt-6 justify-center lg:max-h-full lg:py-6">
    {% include "_atoms/a-logo" %}
    <div class="flex flex-row flex-wrap justify-between lg:w-full lg:h-full lg:px-2 lg:max-w-sm self-center">
      {% for block in entry.navigationLinks.all() %}
      {% set image = block.navigationImage.one() %}
      {% set header = block.navigationText %}
      {% set anchor = block.navigationAnchor %}
      {% include "_molecules/m-nav-icon" %}
      {% endfor %}
    </div>
  </div>
  <div class="hidden lg:block lg:flex lg:flex-col-reverse lg:h-full lg:w-1/2 lg:border-l-2 border-fc-black">
    <img src="uploads/images/landscape.png" class="w-full h-auto lg:self-end overflow-hidden" />
    <div class="flex flex-row w-2/3 mb-64 justify-around self-center">
      <a href="/#hours">
        <button class="font-GuestCheck text-lg rounded-full bg-fc-black text-white hover:text-fc-black border-2 border-fc-black hover:bg-transparent px-6 py-4">reservations</button>
      </a>
      <a href="tel:1-828-123-4567">
        <button class="font-GuestCheck text-lg rounded-full bg-fc-black text-white hover:text-fc-black border-2 border-fc-black hover:bg-transparent px-6 py-4">828.123.4567</button>
      </a>
    </div>
  </div>
  <img src="uploads/images/landscape.png" class="w-full h-auto flex-shrink object-cover object-top lg:self-end overflow-hidden lg:hidden" />
</div>
{% endblock %}
