{% block menus %}
{% set image = entry.menusHeaderImage.one().optimizedImages %}
{% set altText = entry.menusHeaderImage.one().title %}
{% set header = entry.menusHeaderText %}
{% set text = entry.menusTextContent %}
  <a id="menus">{% include "_molecules/m-text-header" %}</a>
  <div class="flex flex-col text-center mt-4 px-2 md:px-8 lg:px-16">
  {% include "_atoms/a-text-body" %}
  {% set latestBrunchMenu = craft.entries().section('brunchMenus').limit(1) %}
  {% set latestDinnerMenus = craft.entries().section('dinnerMenus').limit(1) %}
  {% set latestBarSnacksMenus = craft.entries().section('barSnacksMenus').limit(1) %}
  {% set latestDessertsMenus = craft.entries().section('dessertsMenus').limit(1) %}
  {% set latestBeerMenus = craft.entries().section('beerMenus').limit(1) %}
  {% set latestWineMenus = craft.entries().section('wineMenus').limit(1) %}
  {% set latestCocktailMenus = craft.entries().section('cocktailMenus').limit(1) %}
  {% set latestCoffeeMenus = craft.entries().section('coffeeMenus').limit(1) %}
  <div class="reveal flex flex-row-reverse border-b border-fc-black w-full md:w-2/3 self-center mt-8">
    {% set header = 'food' %}
    {% include "_atoms/a-text-h3" %}
  </div>
  <div class="reveal flex flex-row flex-wrap justify-center w-full mt-8">
  {% for entry in latestBrunchMenu.all() %}
    {% set menuLink = entry.newMenu.one() %}
    <a href="{{ menuLink.getUrl }}" class="">
      <div class="flex flex-col justify-center rounded-full border-fc-black border-2 w-32 h-32 m-2 bg-cover bg-fc-black hover:bg-transparent text-white text-xl hover:text-fc-black">
        <h3 class="font-GuestCheck text-center">
          brunch
        </h3>
      </div>
    </a>
  {% endfor %}

  {% for entry in latestDinnerMenus.all() %}
    {% set menuLink = entry.newMenu.one() %}
    <a href="{{ menuLink.getUrl }}" class="">
      <div class="flex flex-col justify-center rounded-full border-fc-black border-2 w-32 h-32  m-2 bg-cover bg-fc-black hover:bg-transparent text-white text-xl hover:text-fc-black">
        <h3 class="font-GuestCheck text-center">
          upstairs<br/>dinner
        </h3>
      </div>
    </a>
  {% endfor %}

  {% for entry in latestBarSnacksMenus.all() %}
    {% set menuLink = entry.newMenu.one() %}
    <a href="{{ menuLink.getUrl }}" class="">
      <div class="flex flex-col justify-center rounded-full border-fc-black border-2 w-32 h-32  m-2 bg-cover bg-fc-black hover:bg-transparent text-white text-xl hover:text-fc-black">
        <h3 class="font-GuestCheck text-center">
          bar snacks
        </h3>
      </div>
    </a>
  {% endfor %}

  {% for entry in latestDessertsMenus.all() %}
    {% set menuLink = entry.newMenu.one() %}
    <a href="{{ menuLink.getUrl }}" class="">
      <div class="flex flex-col justify-center rounded-full border-fc-black border-2 w-32 h-32  m-2 bg-cover bg-fc-black hover:bg-transparent text-white text-xl hover:text-fc-black">
        <h3 class="font-GuestCheck text-center">
          desserts
        </h3>
      </div>
    </a>
  {% endfor %}
  </div>

<div class="reveal flex flex-row-reverse border-b border-fc-black w-full md:w-2/3 self-center mt-8">
  {% set header = 'beverages' %}
  {% include "_atoms/a-text-h3" %}
</div>
  <div class="reveal flex flex-row flex-wrap justify-center w-full mt-8">
  {% for entry in latestBeerMenus.all() %}
    {% set menuLink = entry.newMenu.one() %}
    <a href="{{ menuLink.getUrl }}" class="">
      <div class="flex flex-col justify-center rounded-full border-fc-black border-2 w-32 h-32  m-2 bg-cover bg-fc-black hover:bg-transparent text-white text-xl hover:text-fc-black">
        <h3 class="font-GuestCheck text-center">
          beer & cider
        </h3>
      </div>
    </a>
  {% endfor %}

  {% for entry in latestWineMenus.all() %}
    {% set menuLink = entry.newMenu.one() %}
    <a href="{{ menuLink.getUrl }}" class="">
      <div class="flex flex-col justify-center rounded-full border-fc-black border-2 w-32 h-32  m-2 bg-cover bg-fc-black hover:bg-transparent text-white text-xl hover:text-fc-black">
        <h3 class="font-GuestCheck text-center">
          wine
        </h3>
      </div>
    </a>
  {% endfor %}

  {% for entry in latestCocktailMenus.all() %}
    {% set menuLink = entry.newMenu.one() %}
    <a href="{{ menuLink.getUrl }}" class="">
      <div class="flex flex-col justify-center rounded-full border-fc-black border-2 w-32 h-32  m-2 bg-cover bg-fc-black hover:bg-transparent text-white text-xl hover:text-fc-black">
        <h3 class="font-GuestCheck text-center">
          cocktails & spirits
        </h3>
      </div>
    </a>
  {% endfor %}

  {% for entry in latestCoffeeMenus.all() %}
    {% set menuLink = entry.newMenu.one() %}
    <a href="{{ menuLink.getUrl }}" class="">
      <div class="flex flex-col justify-center rounded-full border-fc-black border-2 w-32 h-32  m-2 bg-cover bg-fc-black hover:bg-transparent text-white text-xl hover:text-fc-black">
        <h3 class="font-GuestCheck text-center">
          espresso & fine tea
        </h3>
      </div>
    </a>
  {% endfor %}
  </div>
</div>
{% endblock %}
