{% block menus %}
{% set image = entry.menusHeaderImage.one() %}
{% set header = entry.menusHeaderText %}
{% set text = entry.menusTextContent %}
  {% include "_molecules/m-text-header" %}
  {% include "_atoms/a-text-body" %}
  {% set latestBrunchMenu = craft.entries().section('brunchMenus').limit(1) %}
  {% set latestdownstairsDinnerMenus = craft.entries().section('downstairsDinnerMenus').limit(1) %}
  {% set latestupstairsDinnerMenus = craft.entries().section('upstairsDinnerMenus').limit(1) %}
  {% set latestbeverageMenus = craft.entries().section('beverageMenus').limit(1) %}
  {% set latestcellarMenus = craft.entries().section('cellarMenus').limit(1) %}

  <div class="flex flex-row justify-center">
  {% for entry in latestBrunchMenu.all() %}
    {% set menuLink = entry.newMenu.one() %}
    <a href="{{ menuLink.getUrl }}">
      <div class="rounded-full border-fc-black border-2 w-48 h-48 mx-2 bg-cover" style="background-image: url(uploads/images/brunchMenuBG.jpg)">
        {% set header = 'Brunch' %}
        {% include "_atoms/a-text-h3" %}
      </div>
    </a>
  {% endfor %}

  {% for entry in latestdownstairsDinnerMenus.all() %}
    {% set menuLink = entry.newMenu.one() %}
    <a href="{{ menuLink.getUrl }}">Downstairs Dinner Menu</a>
  {% endfor %}

  {% for entry in latestupstairsDinnerMenus.all() %}
    {% set menuLink = entry.newMenu.one() %}
    <a href="{{ menuLink.getUrl }}">Upstairs Dinner Menu</a>
  {% endfor %}

  {% for entry in latestbeverageMenus.all() %}
    {% set menuLink = entry.newMenu.one() %}
    <a href="{{ menuLink.getUrl }}">Beverage Menu</a>
  {% endfor %}

  {% for entry in latestcellarMenus.all() %}
    {% set menuLink = entry.newMenu.one() %}
    <a href="{{ menuLink.getUrl }}">Cellar Menu</a>
  {% endfor %}
  </div>

{% endblock %}
