{% block menus %}
{% set image = entry.menusHeaderImage.one().optimizedImages %}
{% set altText = entry.menusHeaderImage.one().title %}
{% set header = entry.menusHeaderText %}
{% set text = entry.menusTextContent %}
  <a id="menus">{% include "_molecules/m-text-header" %}</a>
  <div class="flex flex-col px-2 mt-4 text-center md:px-8 lg:px-16">
  {% include "_atoms/a-text-body" %}
  
  <div class="flex flex-row-reverse self-center w-full mt-8 border-b reveal border-fc-black md:w-2/3">
    {% set header = 'food' %}
    {% include "_atoms/a-text-h3" %}
  </div>
  <div class="flex flex-row flex-wrap justify-center w-full mt-8 reveal">
    <a href="/paperlessmenu" class="">
      <div class="flex flex-col justify-center w-32 h-32 m-2 text-xl text-white bg-cover border-2 rounded-full border-fc-black bg-fc-black hover:bg-transparent hover:text-fc-black">
        <h3 class="text-center font-GuestCheck">
          dining<br/>menu
        </h3>
      </div>
    </a>

    <a href="/paperlessmenu#camp-grocery-menu" class="">
      <div class="flex flex-col justify-center w-32 h-32 m-2 text-xl text-white bg-cover border-2 rounded-full border-fc-black bg-fc-black hover:bg-transparent hover:text-fc-black">
        <h3 class="text-center font-GuestCheck">
          camp<br/>grocery<br/>products
        </h3>
      </div>
    </a>
  </div>

<div class="flex flex-row-reverse self-center w-full mt-8 border-b reveal border-fc-black md:w-2/3">
  {% set header = 'beverages' %}
  {% include "_atoms/a-text-h3" %}
</div>
  <div class="flex flex-row flex-wrap justify-center w-full mt-8 reveal">

    <a href="/paperlessmenu#draft-beer-&-cider" class="">
      <div class="flex flex-col justify-center w-32 h-32 m-2 text-xl text-white bg-cover border-2 rounded-full border-fc-black bg-fc-black hover:bg-transparent hover:text-fc-black">
        <h3 class="text-center font-GuestCheck">
          beer & cider
        </h3>
      </div>
    </a>

    <a href="/paperlessmenu#wine-by-the-glass" class="">
      <div class="flex flex-col justify-center w-32 h-32 m-2 text-xl text-white bg-cover border-2 rounded-full border-fc-black bg-fc-black hover:bg-transparent hover:text-fc-black">
        <h3 class="text-center font-GuestCheck">
          wine
        </h3>
      </div>
    </a>

    <a href="/paperlessmenu#cocktails" class="">
      <div class="flex flex-col justify-center w-32 h-32 m-2 text-xl text-white bg-cover border-2 rounded-full border-fc-black bg-fc-black hover:bg-transparent hover:text-fc-black">
        <h3 class="text-center font-GuestCheck">
          cocktails & spirits
        </h3>
      </div>
    </a>

    <a href="/paperlessmenu#non-alcoholic-beverages" class="">
      <div class="flex flex-col justify-center w-32 h-32 m-2 text-xl text-white bg-cover border-2 rounded-full border-fc-black bg-fc-black hover:bg-transparent hover:text-fc-black">
        <h3 class="text-center font-GuestCheck">
          coffee<br />tea & more
        </h3>
      </div>
    </a>

  </div>




   {# <div class="flex flex-row flex-wrap justify-center w-full mt-8 reveal">
    <a href="/camp-groceries" class="">
      <div class="flex flex-col justify-center w-32 h-32 m-2 text-xl text-white bg-cover border-2 rounded-full border-fc-black bg-fc-black hover:bg-transparent hover:text-fc-black">
        <h3 class="text-center font-GuestCheck">
          camp<br />grocery
        </h3>
      </div>
    </a>

    <a href="/paperlessmenu" class="">
      <div class="flex flex-col justify-center w-32 h-32 m-2 text-xl text-white bg-cover border-2 rounded-full border-fc-black bg-fc-black hover:bg-transparent hover:text-fc-black">
        <h3 class="text-center font-GuestCheck">
          food &<br/>beverage
        </h3>
      </div>
    </a>

    <a href="/wine-menu" class="">
      <div class="flex flex-col justify-center w-32 h-32 m-2 text-xl text-white bg-cover border-2 rounded-full border-fc-black bg-fc-black hover:bg-transparent hover:text-fc-black">
        <h3 class="text-center font-GuestCheck">
          full<br/>wine list
        </h3>
      </div>
    </a>
  </div> #}



</div>
{% endblock %}
