{% block events %}
	{% set header = entry.privateEventsHeader %}
	{% set image = entry.privateEventsHeaderImage.one().optimizedImages %}
	{% set altText = entry.privateEventsHeaderImage.one().title %}
	{% set intro = entry.privateEventsIntro %}
	<button onclick="location.href = '{{ siteUrl }}';" title="Return Home" class="w-32 pt-4 font-bold text-center font-GuestCheck text-fc-green hover:text-fc-black">
		<i class="fas fa-chevron-circle-left"></i>
		return home</button>
	<a id="private-events">{% include "_molecules/m-text-header" %}</a>
	<div id="private-events-content" class="flex flex-col justify-center px-2 mt-4 text-center md:px-8 lg:px-16">
		<div id="private-events-navigation" class="flex flex-row flex-wrap self-center justify-center w-3/4 mb-10 text-lg lowercase font-GuestCheck">
			{% for row in entry.privateEventSections.all() %}
				{% set sectionHeader = row.sectionHeader %}
				{% set anchorLink = sectionHeader|replace(' ', '-')|lower %}
				<a href="#{{ anchorLink }}" class="w-full px-3 py-1 hover:text-fc-dark_green md:w-auto">
					<h3>{{ sectionHeader }}</h3>
				</a>
			{% endfor %}
		</div>
		<div id="private-events-sections" class="flex flex-col w-full">
			{% if entry.introCallToActionTitle|length %}
				<div class="self-center w-full text-center">
					<a href="{{ entry.introCallToActionLink }}" class="w-32 pt-4 font-bold text-center font-GuestCheck text-fc-green hover:text-fc-black">{{ entry.introCallToActionTitle }}</a>
				</div>
			{% endif %}
			<div class="self-center w-full text-base font-normal text-center font-GillSansNova text-fc-black">
				{{ intro }}
			</div>
			{% for row in entry.privateEventSections.all() %}
				{% set sectionHeader = row.sectionHeader %}
				{% set sectionDescription = row.sectionDescription %}
				{% set anchorLink = sectionHeader|replace(' ', '-')|lower %}
				<div id="private-events-section" class="flex flex-col">
					<div id="{{ anchorLink }}" class="flex flex-row justify-end w-full pb-1 mt-16 mb-4 text-xl uppercase border-b border-fc-black font-GuestCheck text-fc-black">
						<h3>{{ sectionHeader }}</h3>
					</div>
					<div class="self-center w-full text-base font-normal text-center lg:w-3/4 xl:w-full font-GillSansNova text-fc-black">
						{{ sectionDescription }}
					</div>
					<div id="gallery-images" class="flex flex-row flex-wrap justify-center w-full">
						{% for block in row.sectionImages.all() %}
							{% set image = block.image.one().optimizedImages %}
							{% set imageLink = block.imageLink %}
							{% set caption = block.caption %}
							<div id="gallery-image" class="w-1/2 p-2 md:w-1/4">
								{% if imageLink|length %}
									<a href="{{ siteUrl }}{{ imageLink }}">
									{% endif %}
									<img src="{{ image.src() }}" data-srcset="{{ image.srcset() }}" alt="" class="object-contain object-center w-full h-48">
									{% if caption|length %}
										<p class="text-sm font-bold font-GillSansNova text-fc-black">{{ caption }}</p>
									{% endif %}
									{% if imageLink|length %}
									</a>
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
