{% block recipes %}
	{% set header = entry.recipesPageHeader %}
	{% set image = entry.recipesHeaderImage.one().optimizedImages %}
	{% set altText = entry.recipesHeaderImage.one().title %}
	<a id="paperless-menu">{% include "_molecules/m-text-header" %}</a>
	<div id="paperless-menu-content" class="flex flex-col text-center justify-center mt-4 px-2 md:px-8 lg:px-16">
		<div id="paperless-menu-navigation" class="flex flex-row flex-no-wrap md:flex-wrap justify-center w-3/4 self-center font-GuestCheck lowercase text-lg mb-10">
			{% for row in entry.recipeSections.all() %}
				{% if row.navigationOption == 1 and row.visibility == 1 %}
					{% set recipeName = row.recipeName %}
					{% set customAnchor = row.customAnchor %}
					{% if customAnchor|length %}
						{% set anchorLink = customAnchor|replace(' ', '-')|lower %}
					{% else %}
						{% set anchorLink = recipeName|replace(' ', '-')|lower %}
					{% endif %}
				{% endif %}
				<a href="#{{ anchorLink }}" class="hover:text-fc-dark_green px-3 py-1">
					<h3>{{ recipeName }}</h3>
				</a>
			{% endfor %}
		</div>
		<div id="recipe-sections" class="flex flex-col w-full">
			{% for row in entry.recipeSections.all() %}
				{% set recipeName = row.recipeName %}
				{% set customAnchor = row.customAnchor %}
				{% if row.visibility == 1 %}
					{% if customAnchor|length %}
						{% set anchorLink = customAnchor|replace(' ', '-')|lower %}
					{% else %}
						{% set anchorLink = recipeName|replace(' ', '-')|lower %}
					{% endif %}
					<div id="recipe-section" class="flex flex-col mb-12">
						<div id="{{ anchorLink }}" class="flex flex-row justify-end w-full pb-1 mt-16 border-b border-fc-black font-GuestCheck uppercase text-xl text-fc-black mb-4">
							<h3>{{ recipeName }}</h3>
						</div>
						<div id="recipe-entries" class="flex flex-col font-GillSansNova">
							<div id="recipe-ingredients-wrapper" class="flex flex-col w-full mb-8 items-start">
								<div class="font-bold uppercase text-fc-black mb-2">
									<h3>Ingredients</h3>
								</div>
								<div id="recipe-ingredients-list" style="column-count: 2 !important;">
									{% for block in row.recipeContent.type('ingredient').all() %}
										{% set ingredientMeasurement = block.ingredientMeasurement %}
										{% set ingredientName = block.ingredientName %}
										<div id="ingredient" class="flex flex-row justify-start w-full text-fc-black">
											<div class="text-left font-bold">
												<h4>{{ ingredientMeasurement }}</h4>
											</div>
											<div class="text-left pl-4">
												<h4>{{ ingredientName }}</h4>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
							<div id="recipe-steps-wrapper" class="flex flex-col w-full items-start">
								<div class="font-bold uppercase text-fc-black mb-2">
									<h3>Steps</h3>
								</div>
								{% for block in row.recipeContent.type('step').all() %}
									{% set stepNumber = block.stepNumber %}
									{% set stepText = block.stepText %}
									<div id="step" class="flex flex-row justify-start w-full text-fc-black mb-2 leading-tight">
										<div class="text-left font-bold">
											{{ stepNumber }}
										</div>
										<div class="text-left pl-4">
											{{ stepText | nl2br }}
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>{% endblock %}
