{% block reservations %}
{% set image = entry.reservationsHeaderImage.one().optimizedImages %}
{% set altText = entry.reservationsHeaderImage.one().title %}
{% set header = entry.reservationsHeaderText %}
<a id="reservations">{% include "_molecules/m-text-header" %}</a>
<div
    id="reservations-content"
    class="flex flex-col justify-center px-2 mt-4 text-center md:px-8 lg:px-16"
>
  <h3 class="text-2xl font-GuestCheck text-fc-black lowercase mt-8">{{ entry.reservationInfoHeader}}</h3>
  <div id="reservationInfo" class="text-base font-normal font-GillSansNova text-fc-black">
    {{ entry.reservationInfo }}
    </div>
</div>
{% include "_atoms/a-opentable-plugin" %}
</div>
{% endblock %}
