{% block menus %}
	{% set header = entry.wineMenuHeader %}
	{% set image = entry.wineMenuHeaderImage.one().optimizedImages %}
	{% set altText = entry.wineMenuHeaderImage.one().title %}
	<button onclick="location.href = '{{ siteUrl }}paperlessmenu';" title="Return Home" class="w-32 pt-4 font-bold text-center font-GuestCheck text-fc-green hover:text-fc-black">
		<i class="fas fa-chevron-circle-left"></i>
		back to paperless menu</button>
	<a id="wine-menu">{% include "_molecules/m-text-header" %}</a>
	<div id="wine-menu-content" class="flex flex-col justify-center px-2 mt-4 text-center md:px-8 lg:px-16">
		<div id="wine-menu-navigation" class="flex flex-row flex-wrap self-center justify-center w-3/4 mb-10 text-lg lowercase font-GuestCheck">
			{% for row in entry.wineMenuSections.all() %}
				{% if row.navigationOption == 1 %}
					{% set menuSectionHeader = row.sectionHeader %}
					{% set customAnchor = row.customAnchor %}
					{% if customAnchor|length %}
						{% set anchorLink = customAnchor|replace(' ', '-')|lower %}
					{% else %}
						{% set anchorLink = menuSectionHeader|replace(' ', '-')|lower %}
					{% endif %}
				{% endif %}
				<a href="#{{ anchorLink }}" class="w-full px-3 py-1 hover:text-fc-dark_green md:w-auto">
					<h3>{{ menuSectionHeader }}</h3>
				</a>
			{% endfor %}
		</div>
		<div id="wine-menu-sections" class="flex flex-col w-full">
			{% for row in entry.wineMenuSections.all() %}
				{% set menuSectionHeader = row.sectionHeader %}
				{% set customAnchor = row.customAnchor %}
				{% if customAnchor|length %}
					{% set anchorLink = row.customAnchor|replace(' ', '-')|lower %}
				{% else %}
					{% set anchorLink = menuSectionHeader|replace(' ', '-')|lower %}
				{% endif %}
				<div id="wine-menu-section" class="flex flex-col">
					<div id="{{ anchorLink }}" class="flex flex-row justify-end w-full pb-1 mt-16 mb-4 text-xl uppercase border-b border-fc-black font-GuestCheck text-fc-black">
						<h3>{{ menuSectionHeader }}</h3>
					</div>
					<div id="menu-items" class="flex flex-col px-4 font-GillSansNova">
						{% for block in row.menuItems.all() %}
							{% if block.type.handle == "subHeading" %}
								{% set subHeading = block.subHeadingText %}
								<div class="flex flex-row justify-start w-full pb-1 mt-16 mb-2 text-lg lowercase border-b border-fc-black font-GuestCheck text-fc-black">
									<h3>{{ subHeading }}</h3>
								</div>
							{% elseif block.type.handle == "menuItem" %}
								{% set itemName = block.itemName %}
								{% set description = block.description %}
								{% set price = block.price %}
								<div id="menu-item-wrapper" class="flex flex-col w-full mb-4">
									<div id="menu-item-top-line" class="flex flex-row justify-between w-full text-lg font-bold uppercase text-fc-black">
										<div class="text-left">
											<h4>{{ itemName }}</h4>
										</div>
										<div class="pl-10 text-right">
											<h4>{{ price }}</h4>
										</div>
									</div>
									<div id="menu-item-bottom-line" class="flex flex-row justify-between w-full font-light text-fc-black">
										<div class="text-left">
											{{ description | nl2br }}
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
