<nav
    id="main-navigation-mobile"
    class="flex md:hidden flex-col text-left font-GillSansNova font-bold text-base bg-fc-green h-full absolute top-0 w-full lef-0 z-50 flex-grow-1 p-4"
    x-show="mobileShow"
>
<article id="reservation-button" class="flex flex-row justify-center mb-4 w-full">
        <a
            href="#reservations"
            class="font-GuestCheck text-lg p-2 bg-fc-green text-white text-center hover:text-fc-black rounded-lg border-2 border-white"
        >
            make a reservation
        </a>
    </article>
    {% for block in navigation %}
    {% if block.type == "navigationItem" %}
    {% set internalLink = block.internalLink.one() %}
    <a
        href="{% if internalLink|length %}{{ internalLink.url }}{% elseif block.externalOrAnchorLink|length %}{{ block.externalOrAnchorLink }}{% endif %}"
        class="text-white hover:text-fc-black hover:cursor-pointer px-2"
        >{{ block.itemName }}</a
    >
    {% elseif block.type == "dropdownItem" %}
    <div id="dropdown" class="relative">
        <span
            id="dropdown-header"
            class="text-white hover:text-fc-black hover:cursor-pointer px-2"
        >
            {{ block.dropdownName }}
        </span>
        <div
            id="dropdown-container"
            class="mt-1 border-t border-white text-white text-sm font-normal px-4 w-40 pt-1 pb-2"
        >
            {% for item in block.dropdownItems %} {% set internalLink =
            item.dropdownNavigationInternalLink.one() %}
            <a
                href="{% if internalLink|length %}{{ internalLink.url }}{% elseif item.dropdownNavigationExternalOrAnchorLink|length %}{{ item.dropdownNavigationExternalOrAnchorLink }}{% endif %}"
                class="block"
                >{{ item.dropdownNavigationItemName }}</a
            >
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</nav>