<nav
    id="main-navigation-mobile"
    class="flex md:hidden flex-col text-left items-center font-GillSansNova font-bold text-base bg-fc-green h-full absolute top-0 w-full lef-0 z-50 flex-grow-1"
    x-show="mobileShow"
>
<article id="reservation-button" class="hidden md:flex flex-row items-center px-6 w-full">
        <a
            href="#reservations"
            class="font-GuestCheck text-lg p-2 bg-fc-green text-white text-center hover:text-fc-black rounded-lg border-2 border-white"
        >
            make a reservation
        </a>
    </article>
    {% for block in navigation %}
    {% if block.type == "navigationItem" %}
    {% set internalLink = block.internalLink.one() %}
    <a
        href="{% if internalLink|length %}{{ internalLink.url }}{% elseif block.externalOrAnchorLink|length %}{{ block.externalOrAnchorLink }}{% endif %}"
        class="text-fc-white hover:text-fc-black hover:cursor-pointer px-2"
        >{{ block.itemName }}</a
    >
    {% elseif block.type == "dropdownItem" %}
    <div id="dropdown" class="relative">
        <span
            id="dropdown-header"
            class="text-fc-black hover:text-fc-green hover:cursor-pointer px-2"
            @click="selected !== {{ loop.index }} ? selected = {{ loop.index }} : selected = null"
            :class="{ 'text-fc-green': selected === {{ loop.index }}, 'text-fc-black': selected !== {{ loop.index }} }"
        >
            {{ block.dropdownName }}
        </span>
        <div
            id="dropdown-container"
            class="absolute top-0 mt-8 bg-fc-green border-2 border-white rounded-lg text-white text-sm font-normal p-2 z-50 w-40"
            x-show="selected == {{ loop.index }}"
        >
            {% for item in block.dropdownItems %} {% set internalLink =
            item.dropdownNavigationInternalLink.one() %}
            <a
                href="{% if internalLink|length %}{{ internalLink.url }}{% elseif item.dropdownNavigationExternalOrAnchorLink|length %}{{ item.dropdownNavigationExternalOrAnchorLink }}{% endif %}"
                class="block"
                >{{ item.dropdownNavigationItemName }}</a
            >
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</nav>